div#menu-catalogue ul ul {margin-left:141px;}
.sous_categorie{height:16px; margin:0 0 -2px 0;}
.sous_categorie:hover{height:16px; margin:0 0 -2px 0;}

div#page-bijoux{position:relative; margin-top:0px;}